<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MySQL Flask Test</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h1>Enter your information!</h1>
    <form method=post action=/insert enctype=multipart/form-data>
        <p> 
            <input type=text name=name>
            <input type=number name=age>
            <input type=text name=email>
            <input type=submit value=Submit>
        </p>
      </form>

</body>
</html>
