<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MySQL Flask Test</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div id="bar"></div>
    <script>
        //Plot ages once page loads
        var ages_url = "/json";
        Plotly.d3.json(ages_url, function(error, response) {
            if (error) return console.warn(error);
            var data = [response];
            var layout = { margin: { t: 30, b:100 } }
            Plotly.plot("bar", data, layout)
        })
    </script>
</body>
</html>
